/* @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Lato&family=Work+Sans&display=swap'); 'Lato', sans-serif;*/
/* @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Lato&family=Poppins&family=Work+Sans&display=swap'); 'Poppins', sans-serif */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Lato&family=Poppins&family=Raleway&family=Work+Sans&display=swap'); 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Lato&family=Montserrat:wght@400;500&family=Poppins&family=Raleway&family=Work+Sans&display=swap');

/* font will be either monserrat of poppins*/

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #EBEFF4;
  font-size: 16px;
}

.mischka-bckgrnd {
  background-color: #E8E2EB;
}

.aqua-haze-bckgrnd {
  background-color: #EBEFF4;
}

.alabaster-bckgrnd {
  background-color: #F7F7F7;
}

.page {
  padding-top: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.centre-align-x-y-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  width: 40%;
  font-size: 1.5rem;
  text-align: left;
  height: 90%;
  max-height: 90%;
}

.auth-container-shape-color {
  background-color: #32323b;
  box-shadow: 1px 1px 20px #171717;
  border-radius: 10px;
  color: #FFFFFF;
}

.action-btn {
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  cursor: pointer;
  padding: 2%; 
  border: none;
}

.auth-action-btn {
  width: 100%;
}

.primary-bckgrnd {
  background-color: #5168f4;
}

.tuna-bckgrnd {
  background-color: #32323b;
}

.votes-action-btn {
  width: 10%;
}

.page-action-btn {
  width: 120px;
  background-color: #0464FF;
}

.tuna-bckgrnd:hover {
  background: #f4b651;
}

.article-action-btn:hover {
  background: #f4b651;
}

.primary-bckgrnd:hover {
  background: #f4b651;
}

.page-action-btn:hover {
  background: #1FC667;
}

.white {
  color: #FFFFFF;
}

.inherit-color {
  color: inherit;
}

.content-container {
  margin: auto;
}

.inline-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.one-of-two-inline-element {
  width: calc(50%); 
  box-sizing: border-box;
}

.small-auth-icon {
  height: 30%;
  width: 30%;
}

.auth-form-input {
  font-family: inherit;
  font-size: inherit;
  width: 99%;
  color: inherit;
  margin-bottom: 2%;
  padding: 10px 0;
  text-indent: 15px;
  border-radius: 5px;
  border: 1px solid #444;
}

.auth-form-input-background {
  background-color: #1d1e22;
}

.error {
  color: #FF3131;
}

.error-bckgrnd {
  background-color: #5168f4;
}

.error-bckgrnd:hover {
  background-color: #FF3131;
}

.avatar-container {
  width: 60%; 
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px; 
}

.modal-button {
  border-radius: 5px;
  border: solid white;
  border-width: 1px;
  text-align: center;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #5168f4;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%; 
  padding: 10px; 
}

.column img {
  width: 100%; 
  height: auto;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 100; 
}

.modal-content {
  position: absolute;
  padding: 20px;
  border-radius: 5px;
}

.text-align-centre {
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.nav li {
  float: left;
  color:#000000;
}

.small-icon {
  padding: 1%;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #F2CDFA;
}

.selected-nav-item {
  background-color: #F2CDFA;
}

.rounded-border-on-hover:hover {
  border: solid #777777;
  border-radius: 5px;
  border-width: 1px;
}

.nav-icon {
  height:auto;
  width: 50%;
}

.grid-container {
  display: grid;
  margin: 0 auto;
}

.topic-grid-container {
  grid-template-columns: repeat(118, 10px);
  grid-template-rows: repeat(152, 10px);
  max-width: 1180px;
  max-height: 1520px;
}

.article-grid-container {
  grid-template-columns: repeat(118, 10px);
  grid-template-rows: repeat(120, 10px);
  grid-auto-rows: 10px;
  max-width: 1180px;
  max-height: 1200px;
  margin-top: 0;
}

.user-area-grid-container {
  grid-template-columns: repeat(74, 10px);
  grid-template-rows: repeat(46, 10px);
  max-width: 740px;
  max-height: 460px;
}

.grid-item {
  text-align: center;
  border-radius: 15px;
}

.topic-user-area-grid-item {
  border: solid;
  border-color: #004B84;
  border-width: 1px;
  color: #fff;
  cursor: pointer;
}

.article-grid-item {
  color: #000000;
  text-align: left;
}

.article-item0 {
  background-color: #FFFFFF;
  grid-column: 1 / 59;
  grid-row: 1 / 59;
}

.article-item1 {
  background-color: #FFFFFF;
  grid-column: 61 / 119;
  grid-row: 1 / 29;
}

.article-item2 {
  background-color: #FFFFFF;
  grid-column: 61 / 119;
  grid-row: 31 / 59;
}

.article-item3 {
  background-color: #FFFFFF;
  grid-column: 1 / 59;
  grid-row: 61 / 89;
}

.article-item4 {
  background-color: #FFFFFF;
  grid-column: 1 / 59;
  grid-row: 91 / 119;
}

.article-item5 {
  background-color: #FFFFFF;
  grid-column: 61 / 119;
  grid-row: 61 / 119;
}

.topic-item1 {
  background-color: #00C4C4;
  grid-column: 1 / 28;
  grid-row: 1 / 21;
}

.topic-item2 {
  background-color: #0464FF;
  grid-column: 30 / 67;
  grid-row: 1 / 21;
}

.topic-item3 {
  background-color: #F974A6;
  grid-column: 69 / 119;
  grid-row: 1 / 21;
} 

.topic-item4 {
  background-color: #1FC667;
  grid-column: 1 / 28;
  grid-row: 23 / 65;
}

.topic-item5 {
  background-color: #FA8700;
  grid-column: 30 / 67;
  grid-row: 23 / 43;
}

.topic-item6 {
  background-color: #F974A6;
  grid-column: 30 / 67;
  grid-row: 45 / 65;
}

.topic-item7 {
  background-color: #1FC667;
  grid-column: 69 / 93;
  grid-row: 23 / 65;
}

.topic-item8 {
  background-color: #0464FF;
  grid-column: 95 / 119;
  grid-row: 23 / 65;
}

.topic-item9 {
  background-color: #FA8700;
  grid-column: 1 / 28;
  grid-row: 67 / 87;
}

.topic-item10 {
  background-color: #0464FF;
  grid-column: 30 / 67;
  grid-row: 67 / 87;
}

.topic-item11 {
  background-color: #00C4C4;
  grid-column: 69 / 119;
  grid-row: 67 / 87;
}

.topic-item12 {
  background-color: #F974A6;
  grid-column: 1 / 28;
  grid-row: 89 / 131;
}

.topic-item13 {
  background-color: #1FC667;
  grid-column: 30 / 67;
  grid-row: 89 / 109;
}

.topic-item14 {
  background-color: #FA8700;
  grid-column: 30 / 67;
  grid-row: 111 / 131;
}

.topic-item15 {
  background-color: #0464FF;
  grid-column: 69 / 93;
  grid-row: 89 / 131;
}

.topic-item16 {
  background-color: #F974A6;
  grid-column: 95 / 119;
  grid-row: 89 / 131;
}

.topic-item17 {
  background-color: #00C4C4;
  grid-column: 1 / 28;
  grid-row: 133 / 153;
}

.topic-item18 {
  background-color: #1FC667;
  grid-column: 30 / 67;
  grid-row: 133 / 153;
}

.topic-item19 {
  background-color: #00C4C4;
  grid-column: 69 / 119;
  grid-row: 133 / 153;
}

.topic-grid-title-font {
  font-size: 1.3rem;
}
.topic-grid-title-layout {
  display: flex;
  margin: auto;
  margin-top: 5%;
}

.user-area-grid-item1 {
  background-color: #00C4C4;
  grid-column: 1 / 30;
  grid-row: 1 / 23;
}

.user-area-grid-item2 {
  background-color: #0464FF;
  grid-column: 32 / 75;
  grid-row: 1 / 23;
}
.user-area-grid-item3 {
  background-color: #FA8700;
  grid-column: 1 / 44;
  grid-row: 25 / 47;
}
.user-area-grid-item4 {
  background-color: #777777;
  grid-column: 46 / 75;
  grid-row: 25 / 47;
}
.dis-flex-al-ctr {
  display: flex;
  align-items: center;
}

.single-article-content-container {
  max-width: 900px;
  background-color: #FFFFFF;
  text-align: left;
  margin: auto;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.post-article-comment-form-element {
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  margin-top: 10px;
}

.error-color {
  color: #FF3131;
}
